[mysqld]
bind-address     = 0.0.0.0
pid-file         = /var/run/mysqld/mysqld.pid
socket           = /var/run/mysqld/mysqld.sock
datadir          = /app/mysql
log-bin          = /app/mysql/mysql-bin
secure-file-priv = NULL

user = root
port = 3306

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

lower_case_table_names = 1
# 其中 0：区分大小写，1：不区分大小写

# Custom config should go here
!includedir /etc/mysql/conf.d/
